[submodule "azurecrystalz.github.io"]
        path = https://github.com/azurecrystalz/azurecrystalz.github.io.git
        url = https://github.com/azurecrystalz/azurecrystalz.github.io
        branch = main